---
import * as global from '../global';
import HeadCommon from '../components/HeadCommon.astro';
import Header from '../components/Header.astro';
import LeftSidebar from '../components/LeftSidebar.astro';
import ClientScript from '../components/ClientScript.astro';

type Props = {
  title: string;
};

const { title } = Astro.props as Props;
---

<html lang="zh-CN" class="initial">
  <head>
    <HeadCommon />
    <title>
      {title ? `${title} - ${global.title}` : global.title}
    </title>
  </head>

  <body>
    <Header />
    <main class="layout">
      <aside id="grid-left" class="grid-sidebar" title="Site Navigation">
        <LeftSidebar />
      </aside>
      <slot />
    </main>
    <ClientScript />
  </body>
</html>
